/*PRIMARY STYLE*/
* {
    box-sizing: border-box;
}
:root{
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #fb3b64;
    --color-green: #55dfb4;
    --color-black: #000000;
    --color-gray: #a5a5a5;
    --color-light-gray: #f7f7f7;
    --color-white: #ffffff;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
    }
body {
    font-family: var(--font-open-sans);
}
a {
    text-decoration: none;
    color:var(--color-gray);
}
li{
    list-style: none;
}
.container {
    width: 1352px;
    margin: 0 auto;
}
/*END PRIMARY STYLE*/

/*HEADER*/
header{
    display: flex;
    justify-content: end;
    align-content: center;
    box-shadow: 0px 3px 6px #00000029;

}
.logo-container{
    flex-grow: 2;
}
.logo{
    display: inline-block;
    font-size: 32px;
    color: var(--color-primary);
    padding: 16px 100px;

}
nav{
    flex-grow: 1;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    /*padding: 45px 50px;*/
    font-family: var(--font-open-sans),bold;
    font-size: 11px;
    letter-spacing: 3.28px;

}
.menu>li>a{
    display: inline-block;
    padding: 25px 0;
    text-align: center;
}
.menu>li>a:hover{
    color: var(--color-black);
    border-bottom:3px solid var(--color-primary);

}
.menu>li>a:active{
    border: 1px dotted var(--color-gray);
}
/*ENG HEADER*/

/*SECTION*/
.section-one{
    height: 100vh;
    background-image: url("../assets/Background.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    }
.title{
    color: var(--color-black);
    font-family: var(--font-raleway);
    font-size: 49px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}
.contents{
    color: var(--color-black);
    font-family: var(--font-open-sans);
    font-size: 1rem;
    text-align: center;
    margin-bottom: 20px;
}
.btn-main{
    margin-top: 30px;
    display: inline-block;
    padding: 22px 150px;
    background-color: var(--color-primary);
    color:var(--color-white);
    border-radius: 40px;
    box-shadow: 5px 10px 14px #07ACE629;
}
/*END SECTION ONE*/

/*SECTION TWO*/
.title-stats{
    margin-top: 100px;
    text-align: center;
    color: var(--color-black);
    font-family: var(--font-raleway);
    font-size: 36px;
}
.column{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    position: relative;
    padding: 100px 90px;
}
.column img{
    display: block;
    position: relative;
    top: 15%;
    left: 50%;
    /*transform: translate(-50%,0);*/
    z-index: 1;
}

.clm-one{
    position: relative;
    width: 150px;
}

.clm-one::after{
    content:"";
    width: 63px;
    height: 63px;
    border-radius: 50px;
    background-color: var(--color-redish);
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}

.clm-two{
    position: relative;
    width: 150px;

}

.clm-two::after{
    content:"";
    width: 63px;
    height: 63px;
    border-radius: 50px;
    background-color: var(--color-primary);
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}

.clm-three{
    position: relative;
    width: 150px;

}

.clm-three::after{
    content:"";
    width: 63px;
    height: 63px;
    border-radius: 50px;
    background-color: var(--color-green);
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}

.stats-value{
    display: block;
    padding: 50px 0 5px 0;
    /*margin-top: 100px;*/
    text-align: center;
    color: var(--color-black);
    font-family: var(--font-raleway);
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 5.96px;
}
.stats-value-content{
    display: block;
    color: var(--color-gray);
    font-family:var(--font-raleway);
    font-size: 17px;
    text-align: center;
    word-wrap: break-word;
}
/*END SECTION TWO */

/*SECTION THREE*/
.section-three{

}



